.game{
    padding: 2rem;
   
    
    display: flex;
    flex-direction: column;
    
    width: 100%;
    top: 0;
    max-width: 50rem;
    margin: 0 auto;
    
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    
    
}
